<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="description" content="guidanceGroup.co.in">
<meta name="keywords" content="MPSC,UPSC,GUIDANCE,GROUP,MENTOR,CONTACT,Youtube">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Guidance Group</title>
<link rel="icon" type="image/gif/png" href="img/GGlogo.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
 integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.js"></script> -->
<script src="https://apis.google.com/js/plusone.js"></script>
<script src="https://apis.google.com/js/platform.js"></script>

<script type="text/javascript" src="js/Application.js" ></script>
<script type="text/javascript" src="js/CustomStyle.js" ></script>
<script type="text/javascript" src="js/GGData_JSON.js" ></script>
<script type="text/javascript" src="js/youtube.js"></script>
 
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/CustomStyle.css">

</head>
<body id="guidanceGroup" data-spy="scroll" data-target=".navbar" data-offset="60" ng-app="myApp" ng-controller="dataCtrl">
<nav class="navbar fixed-top navbar-expand-md  navbar-dark bg-dark " ng-controller="appCtrl">
  <a class="navbar-brand" href="#"><img src="img/GGlogo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">Guidance Group</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item ">
        <a class="nav-link" href="#about">ABOUT US <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" id="navDown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          COURSES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#course">UPSC</a>
          <a class="dropdown-item" href="#course">MPSC</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#course">More</a>
        </div>
      </li>
	  <li class="nav-item dropdown" id="navDown2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENTORS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#mentor">Mentorship Program</a>
		  <a class="dropdown-item" href="#mentor2">Honorable Mentions</a>
          <a class="dropdown-item" href="#mentor3">Mentors</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#scholarship">Scholarship</a>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="#gallery">GALLERY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>
<br><br>
<div id="carouselExampleIndicators" class="carousel slide" data-slide="next" data-ride="carousel" data-interval="5000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="{{count.slide}}" ng-repeat="count in carouselData.slides" ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="img/slide/default.jpg" alt="First slide">
    </div>
    <div class="carousel-item" ng-repeat="slide in carouselData.slides">
      <img class="d-block w-100" src="img/slide/{{slide.name}}" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row" style="margin-right:0.0%;" >
		<div class="col-md text-center" style="background-color: orange;">
			<br>
			<div class="slogan" >Only Guidance Prevails . . .</div>
			<br>
		</div>
</div>

  <!-- Container (youtube Section) -->
  <div id="youtube" class="" ng-init="getListFromDataForSlides(youtubePlayerData.players,'youtube');" style="background-color: #e6e6e6;"  >
  <br>
  <h2 class="text-center">E-LECTURES</h2>
  <p class="text-center">explore our lecture series</p>
  <div id="carouselExampleControls3" class="carousel slide" data-slide="next" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<div class="container-fluid" >
	<div class="row" >
	<div class="col-lg-4"></div>
	<div class="col-lg-4 text-center">
	<h3>Subscribe us now</h3>
		<div class="g-ytsubscribe" data-channelid="UCmmrT8dABxBE6D5VSmO-HIw" data-layout="full" data-count="hidden">
		</div>
	
	</div>
	<div class="col-lg-4"></div>
	 </div>
	  </div>
	   </div>
    <div class="carousel-item" ng-repeat="list in youtubeList" >
	<div class="container-fluid" >
	<div class="row" >
		<div class="col-lg-3 col-md-6 col-sm-6" ng-repeat="id in list" >
			<div id="{{id.player}}"></div>
		</div>
    </div>
	 </div>
	
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev" style="width:50px;" title="Previous">
    <span class="carousel-control-prev-icon arrow " aria-hidden="true"   ></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next" style="width:50px;" title="Next" >
    <span class="carousel-control-next-icon arrow" aria-hidden="true"  ></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
<!-- Container (ABOUT Section) -->
<div id="about" class="container-fluid">
  <div class="row ">
  
  <div class="col-md-12">
  <h2 class="text-center">ABOUT US</h2>
	  <br>
					<div  > 
						&emsp;&emsp; GUIDANCE GROUP is a committed team of faculty who have been involved in Civil Service 
						preparation for the past "5-6 YEARS" and have been instrumental for the success of 
						many candidates in their Civil Service exam Preparation.<br>
						&emsp;&emsp; We offer intensive and quality coaching to candidates appearing for Civil Service 
						Examination conducted by the Union Public Service Commission and the State 
						Service Examination.
	  				</div>
	  	
				 	<hr >
				  </div>
				
  </div>
  <div class="row">
	  <div class="col-md-8" >
	  	<h4 class="text-center" >Why Guidance Group?</h4>
		  <ul  style="list-style-type:disc">
 			<li>No. 1 institute in terms of core team of committed and experienced faculty.</li>
  			<li>Clear success Mantra with effective study practices.</li>
			  <li>Quality & Timely coverage of Entire Syllabus.</li>
			  <li>Regular test series program for both Prelims and Main Exams</li>
			  <li>Effective routine Answer Writing Program</li>
			  <li>To provide effective guidance for Civil Service Aspirants.</li>
			  <li>Air conditioned class rooms.</li>
		  </ul>
		 
		  <div class="text-center">
		  <button type="button" class="btn btn-primary btn-lg  " data-toggle="modal" data-target=".bd-example-modal-lg">Register Now</button>
		  </div>
	  </div>
	  <div class="col-md-4">
					<img class="img-fluid" alt="logo" src="img/GGlogo.png" width="300"
						height="300">
				</div>
	</div>
  </div>


 <!-- Container (Courses Section) -->
 <div id="course" class="container-fluid text-center" style="background-color: orange;">
  <h2>COURSES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4" ng-repeat="course in courseData.courses ">
      <div class="container-overlay">
		<img src="img/courses/{{course.name}}.png" alt="Course Image" class="image-overlay">
		<div class="overlay">
			<div class="text"><h6>{{course.text}}</h6></div><br>
		<a role="button" class="btn btn-outline-primary" href="{{course.url}}">Know more</a>
		</div>
	</div>
    </div>
    </div>
  </div>

 

  <!-- Container (Mentor Section) -->
  <div id="mentor" class="container-fluid" >
  <h2 class="text-center" >MENTORS</h2>
  <h4 class="text-center">Mentorship Program</h4>
  <div class="row">
  <div class="col-md-4">
  <img class="img-fluid" alt="" src="img/mentorship.png" width="300" height="300">
  </div>
  <div class="col-md-8">
  <p>After your program is established, register it in the Mentoring Connector to help you recruit more mentors 
  and increase visibility for your organization. Thousands of prospective mentors visit our site each month to 
  find mentoring opportunities in their community. Further, MENTOR works with many partners to promote mentoring opportunities 
  in their volunteer databases, and registering your program with MENTOR will ensure that your mentoring opportunities are available 
  to those who want to get involved as a result of various promotions and campaigns.</p>
  </div>
  </div>
  </div>
   <div id="mentor2" class="container-fluid" style="background-color: orange;">
  <h4 class="text-center">Honorable Mentions</h4>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="{{count.slide}}" ng-repeat="count in wellWisherData.wellWishers"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <h5>Our Well Wishers<br></h5>
		<p>we are supported by powerful personalities</p>
		<br><br><br>
      </div>
      <div class="carousel-item" ng-repeat="wisher in wellWisherData.wellWishers">
        <h5>{{wisher.name}}<br>{{wisher.post}}</h5>
		<p>{{wisher.about}}</p>
		<br><br><br>
      </div>
	   <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
  </div>
 </div>
 <div id="mentor3" class="container-fluid" style="background-color: #e6e6e6;" ng-init="getListFromDataForSlides(mentorData.mentors,'mentor2');">
 <h4 class="text-center">We can shape your Future</h4>
 <hr>
  <div id="carouselExampleControls4" class="carousel slide" data-ride="carousel" data-slide="next" data-interval="false">
  <div class="carousel-inner">
  <div class="carousel-item active">
	 <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target=".bd-example-modal-lg"><h4>Register Now</h4></button>
    </div>
    <div class="carousel-item " ng-repeat="list in mentorsList">
	<div class="container-fluid" >
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6 " ng-repeat="mentor in list" >
			<div class="card h-100 d-flex flex-column justify-content-between" > 
				<img class="card-img-top rounded-circle" src="img/mentors/{{mentor.image}}" alt="Profile Image">
				<div class="card-body">
					<h5 class="card-title">{{mentor.name}}</h5>
					<p class="card-text">{{mentor.about}}</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">{{mentor.degree}}</small>
				</div>
			</div>
		</div>
    </div>
	 </div>
	 </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev" style="width:50px;">
    <span class="carousel-control-prev-icon arrow" aria-hidden="true"  ></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next" style="width:50px;" >
    <span class="carousel-control-next-icon arrow" aria-hidden="true" ></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  
 </div>

 <!-- Container scholarship-->
 <div id="scholarship" class="container-fluid" style="background-color: orange;">
 <div class="row">
  <div class="col-md-4">
					<img class="img-fluid" alt="" src="img/scholarship.png" width="300"
						height="300">
				</div>
  <div class="col-md-8">
  <h2>Scholarship</h2>
  <h4>YES, We offer it!</h4>
					<p>	We provide every candidate with a scholarship in one of our
						courses. The candidate if interested for the same has to enroll
						for an entrance test at our office which will be evaluated in a
						day's time. After getting a satisfactory result the candidate will
						be allotted sufficient discounts to enroll for any of the course
						of their choice.</p>
					<hr>
					<h4>Special Scholarship</h4>
					<p>Special Scholarship for students from economically backward
						class. To avail for this the candidate has to provide necessary
						documents. Depending upon that the candidate will be allotted
						scholarships.</p>
					<br>
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">Apply Now</button>
					
				</div>
				
  </div>
 </div>
 <!-- Container Gallery-->
 <div id="gallery" class="container-fluid">
 <h2 class="text-center" >GALLERY</h2>
 <p class="text-center">Our achievements and proud moments</p>
 <hr>
 <div class="row " >
 <div class="col-lg-2 col-md-2 " style="cursor:zoom-in;" ng-repeat="photo in galleryData.gallery" ng-click="viewImage(photo.name);" title="View Image" >
 <img class="img-thumbnail" src="img/gallery/{{photo.name}}">
 </div>
 </div>
<hr>
 <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target=".bd-example-modal-lg"><h4>Register Now</h4></button>
</div>

 <!-- Container (Contact Section) -->
<div id="contact" class="container-fluid" style="background-color: navy; color: white;">
  <h2 class="text-center">CONTACT</h2>
  <p class="text-center">Contact us and we'll get back to you within 24 hours.</p>
  <div class="row">
    <div class="col-sm-5">
      <p><span class="fa fa-map-marker" style="font-size:24px; color:#00ff00;" ></span>
	  <a href="https://www.google.co.in/maps/place/GUIDANCE+GROUP+-+Best+UPSC+-+IAS,+MPSC,+Bank+PO+IBPS+%26+SSC+Classes+in+Mumbai,+Dadar/@19.0198827,72.8414611,17.22z/data=!4m5!3m4!1s0x0:0x5c1ca02cda1788a!8m2!3d19.020313!4d72.8413599" style="color:white;">
	  14, 1st Floor, Plot No. 6, Mukund Mansion, Opp Nakshatra Mall,
	  Ranade Road, Dadar(W), Mumbai - 400 028</a></p>
      <p><span class="fa fa-phone" style="font-size:24px;color:#33ccff;"></span> +91 77387 38982</p>
      <p><span class="fa fa-envelope" style="font-size:24px;color:red;"></span><a href="https://mail.google.com/mail/?view=cm&fs=1&to=guidanceeducon@gmail.com&su=About+Enrollment&body=Respected+Sir," style="color:white;"> guidanceeducon@gmail.com </a></p>
	  <p>Connect with us on :</p>
	  <div class="row">
		<div>
		<a href="https://www.facebook.com/guidancegroup1/" class="fa fa-facebook Ifa"></a>&nbsp;&nbsp;
		<a href="https://www.instagram.com/guidancegroup1/" class="fa fa-instagram Ifa"></a>&nbsp;&nbsp;
		<a href="{{linkedin}}" class="fa fa-linkedin Ifa"></a>&nbsp;&nbsp;
		<a href="https://www.youtube.com/channel/UCmmrT8dABxBE6D5VSmO-HIw" class="fa fa-youtube Ifa"></a>&nbsp;&nbsp;
		</div>
	  </div>
	    <br>
    </div>
	<!-- forms -->
    <div class="col-sm-7 ">
		<div class="embed-responsive embed-responsive-16by9">
		<!-- Add contact Google form embed code here -->
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeTeM8l41VYx8uVFWRRXOIunEyLZc5K2HQ9owsE2GVrV3iPqQ/viewform?embedded=true" 
					 frameborder="" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>
    </div>
  </div>
  <br>
  <hr style="background-color:white;" >
	<div class="row">
		<div class="col-sm-6 text-left">
			&#169; 2018 Guidance Group | All Rights Reserved.
		</div>
		<div class="col-sm-6 text-right">
			Developed and maintained By <a href="https://nikhildinpure.github.io" title="Developer">
			<span style="color:white; font-size: 20px;" >Guidance Group PVT.LTD.</span>
			</a>
		</div>
	</div>
	
	</div>
<!-- forms -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
		<div class="embed-responsive embed-responsive-16by9">
		<!-- Add register Google form embed code here -->
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeTeM8l41VYx8uVFWRRXOIunEyLZc5K2HQ9owsE2GVrV3iPqQ/viewform?embedded=true" 
					width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>
		
    </div>
  </div>
</div>
<!--gallery Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> {{viewImageName}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="img-fluid" alt="gallery image" src="img/gallery/{{viewImageName}}" width="600" height="600">
      </div>
    </div>
  </div>
</div>

</body>
</html>
