<div id="" class="row spacing " style="background-color:;" >
	<div class="col-md-2">
		<div >
			<label>Search</label>
			<input type="text" placeholder="Enter keywords" ng-model="search" >
		</div>	
	</div>
	<div class="col-md-8 ">
		
		<div class="card" ng-repeat="blog in blogsData.blogs | filter:search"
			style="margin-bottom: 2%;">
			<div class="card-body">
				<div id="" class="row" style="background-color:;">
					<div class="col-md-2">
						<img class="rounded img-fluid" src="img/{{blog.blogImage}}.jpg" width="100"
							height="100">
					</div>
					<div class="col-md-10">
						<h5 class="card-title">{{blog.name}}</h5>
						<p class="card-text">{{blog.summary}}</p>
						<a href="#/read" class="btn btn-primary" ng-click="readBlog(blog);">Read Now</a>
					</div>
				</div>
			</div>
			<div class="card-footer text-muted text-right">published on {{blog.publishDate}}</div>
		</div>

	</div>
	<div class="col-md-2 "></div>
</div>
